flows_raspberrypi.json
[{"id":"91348d53.0dc56","type":"tab","label":"SonoffBridge","disabled":false,"info":""},{"id":"4379c67e.e8fdb8","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"27e7848b.92defc","type":"tab","label":"Tests","disabled":false,"info":""},{"id":"8e3e5739.b99788","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"b830fa1a.91fd48","type":"tab","label":"MacSniffer","disabled":false,"info":""},{"id":"1037ee87.4ddad1","type":"tab","label":"Environment","disabled":false,"info":""},{"id":"720eb9b6.5c6da8","type":"tab","label":"Footfall","disabled":false,"info":""},{"id":"cdcc7ccb.c3383","type":"subflow","name":"Text to Speech","info":"","category":"","in":[{"x":40,"y":260,"wires":[{"id":"53ff0b47.d8e094"}]}],"out":[],"env":[]},{"id":"43b948fd.545f88","type":"mqtt-broker","z":"","name":"Verdi","broker":"192.168.10.22","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"446456cf.fedb18","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8b3d9f6f.76619","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d648ab35.bd6138","type":"ui_group","z":"","name":"Default","tab":"8b3d9f6f.76619","disp":true,"width":8,"collapse":false},{"id":"1f3db394.05a41c","type":"ui_group","z":"","name":"Kitchen","tab":"dcc427fd.b8c268","order":2,"disp":true,"width":"6","collapse":false},{"id":"5f9ae2d8.c510cc","type":"ui_tab","z":"","name":"Footfall","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"11321283.90210d","type":"sqlitedb","z":"","db":"/home/pi/oui.sqlite3","mode":"RWC"},{"id":"224ae8d4.e339e8","type":"ui_spacer","name":"spacer","group":"d648ab35.bd6138","order":2,"width":8,"height":1},{"id":"cf935db3.be35a","type":"ui_spacer","name":"spacer","group":"d648ab35.bd6138","order":3,"width":8,"height":1},{"id":"8f1e20c6.00a8d","type":"ui_spacer","name":"spacer","group":"d648ab35.bd6138","order":4,"width":8,"height":1},{"id":"57181a2f.d37654","type":"ui_spacer","name":"spacer","group":"d648ab35.bd6138","order":5,"width":8,"height":1},{"id":"ad774eeb.34b8d","type":"ui_spacer","name":"spacer","group":"d648ab35.bd6138","order":7,"width":8,"height":1},{"id":"4d04296f.88fd38","type":"ui_spacer","name":"spacer","group":"d648ab35.bd6138","order":8,"width":8,"height":1},{"id":"2e82619e.b469fe","type":"ui_spacer","name":"spacer","group":"d648ab35.bd6138","order":9,"width":8,"height":1},{"id":"d0f4cd67.1473e","type":"ui_spacer","name":"spacer","group":"d648ab35.bd6138","order":10,"width":8,"height":1},{"id":"6f707522.9ddd2c","type":"ui_spacer","name":"spacer","group":"d648ab35.bd6138","order":11,"width":8,"height":1},{"id":"96e7db97.781618","type":"ui_group","z":"","name":"Lights ","tab":"dcc427fd.b8c268","order":1,"disp":true,"width":"6","collapse":false},{"id":"86fd7229.7b331","type":"ui_group","z":"","name":"Performance","tab":"a662fc38.16658","order":1,"disp":true,"width":"6"},{"id":"a662fc38.16658","type":"ui_tab","z":"","name":"Performance","icon":"show_chart","order":5},{"id":"24dbe0d4.0148c","type":"ui_group","z":"","name":"Footfall","tab":"5f9ae2d8.c510cc","order":1,"disp":true,"width":10,"collapse":false},{"id":"dcc427fd.b8c268","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"c0086aee.932308","type":"ui_group","z":"","name":"Kitchen","tab":"dcc427fd.b8c268","order":3,"disp":true,"width":"6","collapse":false},{"id":"b997437b.47127","type":"git-nodes-config","z":"","name":"","git":"git@github.com:mkarliner/Footfall-node-red.git"},{"id":"4e3267d3.487428","type":"mqtt in","z":"91348d53.0dc56","name":"","topic":"tele/SonoffBridge/#","qos":"2","datatype":"auto","broker":"43b948fd.545f88","x":140,"y":60,"wires":[["29356a57.44f906","c3211fbb.21275"]]},{"id":"53ff0b47.d8e094","type":"google-tts","z":"cdcc7ccb.c3383","name":"","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","languageField":"en","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":100,"y":360,"wires":[["17a6093.25809f7"]]},{"id":"dd07507c.90717","type":"http request","z":"cdcc7ccb.c3383","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":410,"y":360,"wires":[["2d1b79fb.83fb56"]]},{"id":"17a6093.25809f7","type":"function","z":"cdcc7ccb.c3383","name":"","func":"foo = {}\nfoo.url = msg.payload\nreturn foo;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["dd07507c.90717"]]},{"id":"2d1b79fb.83fb56","type":"file","z":"cdcc7ccb.c3383","name":"","filename":"/tmp/foo.mp3","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":600,"y":360,"wires":[["bd6f7f6d.0edec"]]},{"id":"4a88e42a.83c63c","type":"subflow:cdcc7ccb.c3383","z":"91348d53.0dc56","name":"en","env":[],"x":290,"y":400,"wires":[]},{"id":"bd6f7f6d.0edec","type":"exec","z":"cdcc7ccb.c3383","command":"mpg321 -g 20 /tmp/foo.mp3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630,"y":520,"wires":[[],[],[]]},{"id":"c3211fbb.21275","type":"debug","z":"91348d53.0dc56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":60,"wires":[]},{"id":"38ef9dc5.a92c22","type":"function","z":"91348d53.0dc56","name":"Filter Topics","func":"if(!msg.payload.RfReceived) {\n    return [null, msg]\n}\ndata = msg.payload.RfReceived.Data\nkey = data[data.length-1]\nswitch(key) {\n    case '1': \n        text = \"TOGGLE\"\n        say = \"Garden room lights\"\n        topic = \"cmnd/sonoffbasic1/POWER\"    \n    break\n    case '2': \n        text = \"TOGGLE\"\n        say = \"Garden room flood light\"\n        topic = \"cmnd/SonoffSocket1/POWER\"\n    break\n    case '4': \n        text = \"Key C\"\n        say = \"Hello Margee\"\n        topic = \"say/all\"\n    break\n    case '8': \n        text = \"OK Google. What is the time?\"\n        say = \"OK Google. What is the time?\"\n        topic = \"say/all\"\n    break\n    case '9':\n        text = \"Study door\"\n        say = \"Study door\"\n        topic = \"say/upstairs\"\n    break\n    default: \n        text = \"Unknown Key Press\"\n        say  = \"Unknown \" + data\n    break\n}\nmsg.payload = text\nmsg.say = say\nmsg.topic = topic\nreturn [msg, null];","outputs":2,"noerr":0,"x":470,"y":40,"wires":[["2f46727d.20194e","d01cf48a.54e788"],["c3211fbb.21275"]]},{"id":"29356a57.44f906","type":"json","z":"91348d53.0dc56","name":"","property":"payload","action":"","pretty":false,"x":310,"y":60,"wires":[["38ef9dc5.a92c22","c3211fbb.21275"]]},{"id":"2f46727d.20194e","type":"mqtt out","z":"91348d53.0dc56","name":"","topic":"","qos":"","retain":"","broker":"43b948fd.545f88","x":590,"y":180,"wires":[]},{"id":"cd6a5ae3.3d6db8","type":"mqtt in","z":"91348d53.0dc56","name":"","topic":"say/upstairs","qos":"2","datatype":"auto","broker":"43b948fd.545f88","x":110,"y":360,"wires":[["4a88e42a.83c63c"]]},{"id":"7310a90d.2f5d08","type":"mqtt in","z":"91348d53.0dc56","name":"","topic":"say/all","qos":"2","datatype":"auto","broker":"43b948fd.545f88","x":100,"y":420,"wires":[["4a88e42a.83c63c"]]},{"id":"592699fe.e67438","type":"mqtt in","z":"4379c67e.e8fdb8","name":"","topic":"presence/#","qos":"2","datatype":"auto","broker":"43b948fd.545f88","x":110,"y":120,"wires":[["599b3863.d14848"]]},{"id":"599b3863.d14848","type":"json","z":"4379c67e.e8fdb8","name":"","property":"payload","action":"","pretty":false,"x":250,"y":120,"wires":[["4ed3245.5f0f4dc","bd2d0c65.176ce","c508a373.c5e9b"]]},{"id":"4ed3245.5f0f4dc","type":"function","z":"4379c67e.e8fdb8","name":"","func":"msg.payload = msg.topic.replace(\"/\", \",\") + \" \" + msg.payload.msg\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["52dc46c2.25bbb8"]]},{"id":"bd2d0c65.176ce","type":"debug","z":"4379c67e.e8fdb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":40,"wires":[]},{"id":"1d374a6e.375246","type":"mqtt in","z":"4379c67e.e8fdb8","name":"","topic":"doorbell/doorbell","qos":"2","datatype":"auto","broker":"43b948fd.545f88","x":120,"y":240,"wires":[["9c88dfa9.3b807","c508a373.c5e9b"]]},{"id":"9c88dfa9.3b807","type":"function","z":"4379c67e.e8fdb8","name":"","func":"msg.payload = \"Doorbell\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["52dc46c2.25bbb8","696223f4.be495c"]]},{"id":"52dc46c2.25bbb8","type":"mqtt out","z":"4379c67e.e8fdb8","name":"","topic":"say/upstairs","qos":"","retain":"","broker":"43b948fd.545f88","x":610,"y":180,"wires":[]},{"id":"696223f4.be495c","type":"debug","z":"4379c67e.e8fdb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":260,"wires":[]},{"id":"d01cf48a.54e788","type":"function","z":"91348d53.0dc56","name":"","func":"msg.payload = msg.say\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":220,"wires":[["4a88e42a.83c63c"]]},{"id":"5391630.b46f19c","type":"inject","z":"27e7848b.92defc","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["1fb23059.3d3d4","245a8a04.060416"]]},{"id":"4abfedae.83e9f4","type":"subflow:cdcc7ccb.c3383","z":"27e7848b.92defc","name":"","x":420,"y":180,"wires":[]},{"id":"7954ac92.6efd44","type":"mqtt in","z":"8e3e5739.b99788","name":"Main Oven Temp","topic":"/mike/kitchen/mainoven/temperature","qos":"2","datatype":"auto","broker":"43b948fd.545f88","x":100,"y":80,"wires":[["a8a5d982.52c1d8"]]},{"id":"bdee0ae5.e86fd8","type":"debug","z":"8e3e5739.b99788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":280,"wires":[]},{"id":"e0e7b25e.2a3aa","type":"mqtt out","z":"8e3e5739.b99788","name":"","topic":"say/upstairs","qos":"","retain":"","broker":"43b948fd.545f88","x":530,"y":20,"wires":[]},{"id":"a8a5d982.52c1d8","type":"function","z":"8e3e5739.b99788","name":"","func":"target = flow.get('target')\ncount = context.get('count') || 0\n\n// Only report every 3 times\nif(count < 3) {\n    count++ \n    context.set('count', count)\n    return null\n} else {\n  context.set('count', 0)  \n}\n\n\n// Remove quotes\ntemp = msg.payload.replace(/\"/g,'')\nmsg2 = {payload: temp}\n// Only report temperatures over 100\nif(parseInt(temp) < 100) {\n    return [null, msg2]\n    //msg.payload = \"Low temp \" + temp + \" \" + target\n} else {\n    if(parseInt(temp) >= parseInt(target) ) {\n        temp_msg = \" temperature reached \"\n    } else {\n        temp_msg = target\n    }\n    msg.payload = \"Main Oven Temperature is \" + temp + \" degrees. Target \" + temp_msg\n}\n\n\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"x":290,"y":80,"wires":[["e0e7b25e.2a3aa"],["624dfc5a.da4734","bdee0ae5.e86fd8"]]},{"id":"9a0cfb0d.664f58","type":"mqtt in","z":"b830fa1a.91fd48","name":"","topic":"Sniffer","qos":"2","datatype":"auto","broker":"43b948fd.545f88","x":100,"y":180,"wires":[["e4b5007d.74e3d"]]},{"id":"d89991ba.968d1","type":"debug","z":"b830fa1a.91fd48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":400,"wires":[]},{"id":"cc603152.a6726","type":"inject","z":"91348d53.0dc56","name":"","topic":"","payload":"Hello Mike","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":500,"wires":[["38448493.bc465c"]]},{"id":"36fbbd8c.6d12c2","type":"sqlite","z":"b830fa1a.91fd48","mydb":"11321283.90210d","sqlquery":"msg.topic","sql":"","name":"","x":600,"y":260,"wires":[["58b73bad.5bda84"]]},{"id":"f616e164.8a425","type":"split","z":"b830fa1a.91fd48","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":270,"y":260,"wires":[["c13d28c6.46e908"]]},{"id":"e4b5007d.74e3d","type":"function","z":"b830fa1a.91fd48","name":"MAC list","func":"payload = JSON.parse(msg.payload)\nmsg.payload = payload.MAC\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":260,"wires":[["f616e164.8a425"]]},{"id":"c13d28c6.46e908","type":"function","z":"b830fa1a.91fd48","name":"Query","func":"oui = msg.payload.substring(0,8).toUpperCase()\n\nmsg.topic = `select * from oui where oui = '${oui}'`\nmsg.oui = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["36fbbd8c.6d12c2"]]},{"id":"58b73bad.5bda84","type":"function","z":"b830fa1a.91fd48","name":"Build mac list","func":"\nmaclist = context.get('maclist') || []\n\n// construct the item\n\n\nknownlist = [\n    {oui: \"f0:7d:68:4e:bb:ba\", name: \"Upstairs Wifi\"},\n    {oui: \"88:88:88:88:87:88\", name: \"BigMac\"},\n    {oui: \"d4:63:c6:fb:04:81\", name: \"MikePhone\"},\n    {oui: \"b8:27:eb:cb:be:37\", name: \"RPi3\"},\n    {oui: \"54:52:00:13:74:a6\", name: \"Verdi\"},\n    {oui: \"a0:1d:48:ec:eb:6a\", name: \"Printer\"},\n    {oui: \"44:07:0b:55:29:62\", name: \"GoogleHome\"},\n    {oui: \"00:87:12:02:48:fb\", name: \"VoiceKit\"},\n    {oui: \"b8:27:eb:cb:be:37\", name: \"RPi3\"},\n    {oui: \"5c:cf:7f:97:18:b6\", name: \"GRLights\"},\n    {oui: \"54:52:00:38:8a:98\", name: \"Gilbert\"},\n    {oui: \"58:e2:8f:08:0a:f6\", name: \"Apple1\"},\n    {oui: \"00:1b:63:bb:f4:8e\", name: \"Apple1\"}\n    \n    ]\n\n\nisNew = true\n\nmaclist.forEach(function(item, idx, array) {\n    if(typeof msg.oui != 'undefined' && \n    typeof item.oui != 'undefined' && \n    msg.oui == item.oui) {\n        item.count++\n        item.time = new Date().toLocaleTimeString('en-GB')\n        isNew = false\n        return item\n    } \n    \n})\n\nmaclist.forEach(function(item, idx, array) {\n    knownlist.forEach(function(itm) {\n        if(item.oui === itm.oui) {\n            item.name = itm.name\n        }\n    })\n})\n\n\nif(isNew === true) {\n    newitem = {}\n    newitem.oui = msg.oui\n    newitem.time = new Date().toLocaleTimeString('en-GB')\n    newitem.count = 1\n    newitem.vendor = msg.payload[0] ? msg.payload[0].companyName : \"Unknown\"\n    maclist.push(newitem)\n}\n\ncontext.set('maclist', maclist)\nmsg.payload = maclist\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":360,"wires":[["d89991ba.968d1"]]},{"id":"38448493.bc465c","type":"mqtt out","z":"91348d53.0dc56","name":"","topic":"say/all","qos":"","retain":"","broker":"43b948fd.545f88","x":320,"y":520,"wires":[]},{"id":"1ccc6fdf.044e9","type":"cast-to-client","z":"27e7848b.92defc","name":"","url":null,"contentType":"","message":null,"language":"en","ip":"","port":"","volume":null,"x":710,"y":340,"wires":[["93f1d15e.82133"]]},{"id":"13a1ebe9.844644","type":"inject","z":"27e7848b.92defc","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":340,"wires":[["2f5b2641.3df05a"]]},{"id":"2f5b2641.3df05a","type":"change","z":"27e7848b.92defc","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"192.168.10.180","tot":"str"},{"t":"set","p":"message","pt":"msg","to":"Word Up","tot":"str"},{"t":"set","p":"language","pt":"msg","to":"En-gb","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":340,"wires":[["1ccc6fdf.044e9"]]},{"id":"93f1d15e.82133","type":"debug","z":"27e7848b.92defc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":340,"wires":[]},{"id":"46836ff5.0d09c","type":"comment","z":"27e7848b.92defc","name":"say a text","info":"","x":240,"y":300,"wires":[]},{"id":"d11cdcab.1c9f9","type":"google-action in","z":"27e7848b.92defc","name":"Action Request","topic":"action","port":"8081","url":"/","key":"/home/sysadmin/.node-red/server.key","cert":"/home/sysadmin/.node-red/server.crt","x":80,"y":440,"wires":[["17cef053.5f12f","b1b1d9f0.e08c58"]]},{"id":"17cef053.5f12f","type":"debug","z":"27e7848b.92defc","name":"","active":true,"console":"false","complete":"true","x":830,"y":440,"wires":[]},{"id":"e6671a41.844488","type":"google-action response","z":"27e7848b.92defc","name":"","x":780,"y":660,"wires":[]},{"id":"705feb04.7c9404","type":"change","z":"27e7848b.92defc","name":"Goodbye","rules":[{"t":"set","p":"payload","pt":"msg","to":"See ya later","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":660,"wires":[["17cef053.5f12f","e6671a41.844488"]]},{"id":"4ab2bbb9.c95134","type":"switch","z":"27e7848b.92defc","name":"Question","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"number","vt":"str"},{"t":"cont","v":"fancy","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":320,"y":560,"wires":[["2a3349a4.8945a6"],["65e531fd.69f39"],["3a3b3f5.f91f7c"]],"outputLabels":["number","","don't understand"]},{"id":"b36f1513.514278","type":"change","z":"27e7848b.92defc","name":"Number","rules":[{"t":"set","p":"closeConversation","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"\"My number is \" & $floor($random() * 10)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":520,"wires":[["17cef053.5f12f","e6671a41.844488"]]},{"id":"3a3b3f5.f91f7c","type":"change","z":"27e7848b.92defc","name":"Don't understand","rules":[{"t":"set","p":"closeConversation","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"I'm sorry, I don't understand","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":620,"wires":[["17cef053.5f12f","e6671a41.844488"]]},{"id":"4a5b51f5.e5039","type":"change","z":"27e7848b.92defc","name":"","rules":[{"t":"set","p":"closeConversation","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"This is Node Red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":480,"wires":[["17cef053.5f12f","e6671a41.844488"]]},{"id":"b1b1d9f0.e08c58","type":"switch","z":"27e7848b.92defc","name":"Intent","property":"intent","propertyType":"msg","rules":[{"t":"eq","v":"actions.intent.MAIN","vt":"str"},{"t":"eq","v":"actions.intent.TEXT","vt":"str"},{"t":"eq","v":"actions.intent.CANCEL","vt":"str"}],"checkall":"true","outputs":3,"x":130,"y":560,"wires":[["4a5b51f5.e5039"],["4ab2bbb9.c95134"],["705feb04.7c9404"]],"outputLabels":["MAIN","TEXT","CANCEL"]},{"id":"2a3349a4.8945a6","type":"random","z":"27e7848b.92defc","name":"","low":"1","high":"10","inte":"true","x":500,"y":540,"wires":[["b36f1513.514278"]]},{"id":"65e531fd.69f39","type":"change","z":"27e7848b.92defc","name":"Fancy","rules":[{"t":"set","p":"closeConversation","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"<speak>   Here are <say-as interpret-as=\"characters\">SSML</say-as> samples.   I can pause <break time=\"3s\"/>.   I can play a sound   <audio src=\"http://www.sample-videos.com/audio/mp3/crowd-cheering.mp3\">didn't get your MP3 audio file</audio>.   I can speak in cardinals. Your number is <say-as interpret-as=\"cardinal\">10</say-as>.   Or I can speak in ordinals. You are <say-as interpret-as=\"ordinal\">10</say-as> in line.   Or I can even speak in digits. The digits for ten are <say-as interpret-as=\"characters\">10</say-as>.   I can also substitute phrases, like the <sub alias=\"World Wide Web Consortium\">W3C</sub>.   Finally, I can speak a paragraph with two sentences.   <p><s>This is sentence one.</s><s>This is sentence two.</s></p> </speak>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":580,"wires":[["17cef053.5f12f","e6671a41.844488"]]},{"id":"1fb23059.3d3d4","type":"http request","z":"27e7848b.92defc","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://192.168.10.165/capture","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":240,"wires":[["5d3d661a.9497c8","153c49c5.2b5b46"]]},{"id":"5d3d661a.9497c8","type":"debug","z":"27e7848b.92defc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":240,"wires":[]},{"id":"153c49c5.2b5b46","type":"image","z":"27e7848b.92defc","name":"","width":"500","x":620,"y":160,"wires":[]},{"id":"624dfc5a.da4734","type":"ui_gauge","z":"8e3e5739.b99788","name":"Main Oven Temperature","group":"1f3db394.05a41c","order":0,"width":0,"height":0,"gtype":"gage","title":"Main Oven Temperature","label":"%C","format":"{{value}}","min":"15","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":200,"wires":[]},{"id":"2c02535.b4a8bac","type":"ui_numeric","z":"8e3e5739.b99788","name":"","label":"Target Temp","tooltip":"","group":"1f3db394.05a41c","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":"0","max":"300","step":"10","x":230,"y":360,"wires":[["77e1aeeb.28345"]]},{"id":"77e1aeeb.28345","type":"function","z":"8e3e5739.b99788","name":"Save Target Temp","func":"flow.set('target',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["bdee0ae5.e86fd8"]]},{"id":"7b226915.e8d918","type":"mqtt in","z":"1037ee87.4ddad1","name":"","topic":"/weather/london","qos":"2","datatype":"auto","broker":"43b948fd.545f88","x":100,"y":100,"wires":[["4830f83f.545f08"]]},{"id":"849f481b.ce0d58","type":"debug","z":"1037ee87.4ddad1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":280,"wires":[]},{"id":"51fd5216.1790ac","type":"json","z":"1037ee87.4ddad1","name":"","property":"payload","action":"","pretty":false,"x":310,"y":100,"wires":[["90ec2baa.f1b6b8"]]},{"id":"fe82e05c.c2be2","type":"ui_chart","z":"1037ee87.4ddad1","name":"","group":"d648ab35.bd6138","order":1,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":80,"wires":[[]]},{"id":"90ec2baa.f1b6b8","type":"function","z":"1037ee87.4ddad1","name":"Split props","func":"msg1 = {payload: msg.payload.pressure}\nmsg2 = {payload: msg.payload.temperature}\nmsg3 = {payload: msg.payload.humidity}\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":470,"y":100,"wires":[["fe82e05c.c2be2"],["37a672eb.f17e0e"],["9876b154.c4fe4"]]},{"id":"9876b154.c4fe4","type":"ui_chart","z":"1037ee87.4ddad1","name":"","group":"d648ab35.bd6138","order":12,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":240,"wires":[[]]},{"id":"37a672eb.f17e0e","type":"ui_gauge","z":"1037ee87.4ddad1","name":"Shed Temperature","group":"d648ab35.bd6138","order":6,"width":0,"height":0,"gtype":"gage","title":"Shed Temperature","label":"%C","format":"{{value}}","min":"-5","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":160,"wires":[]},{"id":"4830f83f.545f08","type":"function","z":"1037ee87.4ddad1","name":"","func":"\ncount = context.get('count') || 0\n\n// Only report every 500 times\nif(count < 50) {\n    count++ \n    context.set('count', count)\n    return null\n} else {\n  context.set('count', 0)  \n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["51fd5216.1790ac"]]},{"id":"245a8a04.060416","type":"ui_audio","z":"27e7848b.92defc","name":"","group":"1f3db394.05a41c","voice":"en-GB","always":true,"x":300,"y":140,"wires":[]},{"id":"63d840e3.8ada6","type":"mqtt in","z":"4379c67e.e8fdb8","name":"","topic":"stat/sonoff/PIR1","qos":"2","datatype":"auto","broker":"43b948fd.545f88","x":120,"y":560,"wires":[["4a9c1924.3aba48","ea642c7c.9c672"]]},{"id":"4a9c1924.3aba48","type":"debug","z":"4379c67e.e8fdb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":480,"wires":[]},{"id":"ea642c7c.9c672","type":"ui_text","z":"4379c67e.e8fdb8","group":"1f3db394.05a41c","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":600,"wires":[]},{"id":"69d19c56.afa9d4","type":"ui_button","z":"91348d53.0dc56","name":"Uplights","group":"96e7db97.781618","order":0,"width":0,"height":0,"passthru":false,"label":"Uplights","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"cmnd/sonoffbasic1/POWER","x":430,"y":300,"wires":[["2f46727d.20194e"]]},{"id":"1eb613d5.167e4c","type":"mqtt in","z":"1037ee87.4ddad1","name":"","topic":"tele/sonoffsensor/SENSOR","qos":"2","datatype":"auto","broker":"43b948fd.545f88","x":160,"y":360,"wires":[["60d539f7.3d3368"]]},{"id":"60d539f7.3d3368","type":"json","z":"1037ee87.4ddad1","name":"","property":"payload","action":"","pretty":false,"x":380,"y":360,"wires":[["849f481b.ce0d58","dc7c6bef.e17a78"]]},{"id":"f05a1968.a7b748","type":"ui_gauge","z":"1037ee87.4ddad1","name":"","group":"d648ab35.bd6138","order":12,"width":0,"height":0,"gtype":"gage","title":"Mike's Room","label":"Celsius","format":"{{value}}","min":"-5","max":"40","colors":["#ff0c0f","#0dff04","#ffc02c"],"seg1":"5","seg2":"25","x":690,"y":360,"wires":[]},{"id":"dc7c6bef.e17a78","type":"function","z":"1037ee87.4ddad1","name":"","func":"msg.payload = msg.payload.DS18B20.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["f05a1968.a7b748"]]},{"id":"c508a373.c5e9b","type":"function","z":"4379c67e.e8fdb8","name":"Hall light","func":"if(msg.topic == \"doorbell/doorbell\") {\n    cmd = \"ON\"\n} else if (msg.topic == \"presence/hall\") {\n    if(msg.payload.msg == \"true\") {\n        cmd = \"ON\"\n    } else {\n        cmd = \"OFF\"\n    }\n}\n\nmsg.payload = cmd\nmsg.topic = \"cmnd/sonoff3/POWER\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["873e87d7.659538","4a9c1924.3aba48"]]},{"id":"873e87d7.659538","type":"mqtt out","z":"4379c67e.e8fdb8","name":"","topic":"","qos":"","retain":"","broker":"43b948fd.545f88","x":570,"y":360,"wires":[]},{"id":"3993b36d.df467c","type":"ui_button","z":"4379c67e.e8fdb8","name":"","group":"96e7db97.781618","order":1,"width":0,"height":0,"passthru":false,"label":"Globe Light","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"cmnd/sonoff3/POWER","x":150,"y":400,"wires":[["873e87d7.659538"]]},{"id":"94733cfb.cfd25","type":"mqtt in","z":"27e7848b.92defc","name":"","topic":"stat/sonoffsensor/RESULT","qos":"2","datatype":"auto","broker":"43b948fd.545f88","x":160,"y":80,"wires":[["a8fb5bec.6d8aa8"]]},{"id":"a8fb5bec.6d8aa8","type":"play audio","z":"27e7848b.92defc","name":"beep","voice":"0","x":440,"y":80,"wires":[]},{"id":"c38b63c6.66701","type":"multipart-decoder","z":"27e7848b.92defc","name":"","ret":"obj","url":"http://192.168.10.187:8070","tls":"","delay":0,"maximum":"10000000","blockSize":"1","x":370,"y":940,"wires":[[]]},{"id":"88ad95da.ffc438","type":"inject","z":"27e7848b.92defc","name":"Start stream","topic":"","payload":"GET / HTTP/1.1 \\n Host: www.example.com\\n User-Agent: Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1)","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":860,"wires":[["f44c3660.2e5eb8"]]},{"id":"24957fd0.4f6ac","type":"debug","z":"27e7848b.92defc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":980,"wires":[]},{"id":"493a8673.2e51a8","type":"tcp in","z":"27e7848b.92defc","name":"","server":"client","host":"192.168.10.187","port":"8070","datamode":"single","datatype":"utf8","newline":"","topic":"","base64":false,"x":220,"y":1180,"wires":[["24957fd0.4f6ac"]]},{"id":"222b116b.2f53ae","type":"http request","z":"27e7848b.92defc","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.10.187:8070","tls":"","persist":true,"proxy":"","authType":"","x":190,"y":1080,"wires":[["24957fd0.4f6ac"]]},{"id":"f44c3660.2e5eb8","type":"tcp request","z":"27e7848b.92defc","server":"192.168.10.187","port":"8070","out":"sit","splitc":" ","name":"","x":320,"y":1280,"wires":[["e3e80b8a.160b48"]]},{"id":"4fbacd51.936424","type":"json","z":"27e7848b.92defc","name":"","property":"payload","action":"","pretty":false,"x":580,"y":1260,"wires":[["24957fd0.4f6ac"]]},{"id":"e3e80b8a.160b48","type":"function","z":"27e7848b.92defc","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1360,"wires":[["24957fd0.4f6ac"]]},{"id":"bf0eaf43.b6504","type":"udp in","z":"27e7848b.92defc","name":"","iface":"","port":"2237","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":190,"y":1500,"wires":[["b8675b98.7c4518"]]},{"id":"b8675b98.7c4518","type":"debug","z":"27e7848b.92defc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":1520,"wires":[]},{"id":"ebaa865d.e7fbd8","type":"mqtt in","z":"720eb9b6.5c6da8","name":"","topic":"footfall","qos":"2","datatype":"json","broker":"43b948fd.545f88","x":140,"y":80,"wires":[["d4d2f6c.e7c1708","5071cdc8.6e97c4"]]},{"id":"c1dd7ec4.c8591","type":"debug","z":"720eb9b6.5c6da8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":380,"wires":[]},{"id":"8531b143.c4085","type":"ui_chart","z":"720eb9b6.5c6da8","name":"","group":"24dbe0d4.0148c","order":1,"width":0,"height":0,"label":"Current people","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":200,"wires":[[]]},{"id":"d4d2f6c.e7c1708","type":"function","z":"720eb9b6.5c6da8","name":"","func":"msg.payload = msg.payload.length\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["8531b143.c4085"]]},{"id":"cc908a65.d96498","type":"ui_button","z":"720eb9b6.5c6da8","name":"","group":"24dbe0d4.0148c","order":1,"width":0,"height":0,"passthru":false,"label":"Clear Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":350,"y":280,"wires":[["41a2056f.d19a0c"]]},{"id":"41a2056f.d19a0c","type":"function","z":"720eb9b6.5c6da8","name":"","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["8531b143.c4085"]]},{"id":"5071cdc8.6e97c4","type":"function","z":"720eb9b6.5c6da8","name":"","func":"\ndwells = []\ncnts = flow.get('cnts') || {}\n\n\n\n// Incr detect count for each id \nmsg.payload.forEach(function(det) {\n    id = det[4]\n    if(cnts.hasOwnProperty( id)) {\n        node.warn(`DET: ${cnts[id]} `)   \n        cnts[id]++\n    } else {\n        cnts[id] = 1\n    }\n    // node.warn(ids[id])\n    })\nnode.warn(`START IDS: ${JSON.stringify(cnts)} `)   \nfor (var id_cnt in cnts) {\n    val = parseInt(cnts[id_cnt] / 10)\n    dwells[val] =  typeof dwells[val] === 'undefined' ? dwells[val] = 1 : dwells[val]+1\n}\n\nfor(var i=0; i<dwells.length; i++) {\n    //node.warn(`IDd: ${typeof part} ${part} `)\n    if(typeof dwells[i] === 'undefined') {\n        dwells[i] = 0\n    }\n}\n\nnode.warn(`DWELLS: ${dwells} `)\n\nlabels = []\nfor(var i=0; i<dwells.length; i++) {\n    labels[i] = `${i*10}-${(i*10)+10}`\n}\n\nmsg.payload = [{\n    \"series\": ['x'],\n    \"data\": dwells,\n    \"labels\": labels\n}]\n\n\nflow.set('cnts', cnts)\n// msg.payload = [{\n//     \"series\": [ ],\n//     \"data\": [5,6,9, 6,7,2] ,\n//     \"labels\": [ 1,2,3,4,5,6 ]\n// }]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["f6488589.595188","c1dd7ec4.c8591"]]},{"id":"f6488589.595188","type":"ui_chart","z":"720eb9b6.5c6da8","name":"","group":"24dbe0d4.0148c","order":2,"width":0,"height":0,"label":"Dwell Times","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":500,"y":460,"wires":[[]]},{"id":"12d311cf.b1983e","type":"ui_button","z":"720eb9b6.5c6da8","name":"","group":"24dbe0d4.0148c","order":3,"width":0,"height":0,"passthru":false,"label":"set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":460,"wires":[["69a27ec8.8315c"]]},{"id":"69a27ec8.8315c","type":"change","z":"720eb9b6.5c6da8","name":"","rules":[{"t":"delete","p":"cnts","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":580,"wires":[[]]},{"id":"fd828855.a8c608","type":"git-nodes","z":"720eb9b6.5c6da8","label":"","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"b997437b.47127","x":180,"y":680,"wires":[]}]